body{
  margin: 0;
}

/*
  vh, vw
  vmin, vmax
  
  1vmin - 1% от меньшей стороны viewport
  1vmax - 1% от большей стороны viewport
*/

.wrapper{
  /*height: 100vh;
  width: 100vw;*/
  height: 50vmin;
  width: 50vmax;
  box-sizing: border-box;

  background-color: bisque;
  border: 3px solid;
}