table{
  width: 100%;
  border-collapse: collapse;
}
td{
  border: 3px solid;
  padding: 10px;
}

caption{
  text-align: left;
  text-indent: 2em;
}

thead{
  text-align: center;
}

tfoot{
  text-align: right;
}